<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>USERS</title>

    <style>
        table{
            width: 100%;
            background: white;
            color: blue;
            border-spacing: 1px;
        }
        td, th {
            background: bisque;
            padding: 5px;
        }
    </style>
</head>
<body>
<table boarder="1">

<!--    <tr style="border: 2px solid black">-->
<!--        <td th:text="${locale}"/>-->

<!--    </tr>-->
    <tr>
        <th> ID </th>
        <th> NAME </th>
        <th> LAST NAME</th>
        <th> AGE </th>
    </tr>
    <th:block th:each="ind : ${indexX}">
        <tr style="border: 2px solid black">
            <td th:text="${ind.id}" />
            <td th:text="${ind.name}" />
            <td th:text="${ind.lastName}" />
            <td th:text="${ind.age}" />

        </tr>
    </th:block>

    </tr>
</table>

</body>
</html>